html {
    background: rgb(0,98,221);
    background: linear-gradient(90deg, rgba(0,98,221,1) 0%, rgba(0,68,167,1) 49%, rgba(0,53,142,1) 100%);
}

a{
    text-decoration: none;
    color: white;
}

.socialBox {
    text-align: center;  
    transition: transform 150ms ease-in-out;
}
.socialBox:hover{
    transform: scale(1.2);
}

.main {
    margin-top: 20vh;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3vh;
    color: white;
}