@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

html {
    background-color: rgb(46, 46, 46);
    font-family: 'Open Sans', sans-serif;
}

.material-icons.md-48 { 
    font-size: 48px;
}

.titletext {
    text-align: center;
    color: white;
    font-weight: 600;
    padding-bottom: 2%;
}

.information {
    color: white;
    font-weight: 500;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 56px;
    border-radius: 10px;
    background-color: rgb(71, 71, 71);
    transition: 0.3s;
}

.container:hover {
    background-color: rgb(56, 56, 56);
}

.menuicon {
    color: white;
    cursor: pointer;
    user-select: none;
    padding-left: 4px;
    padding-top: 5px;
}

.sidebar {
	height: 100%; 
	width: 0; 
	position: fixed; 
	z-index: 1; 
	top: 0;
	left: 0;
	background-color: rgb(31, 31, 31);
	overflow-x: hidden;
	padding-top: 10px;
	transition: 0.5s;
}

.sidebarTitle {
    color: white;
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
}

.containerElements{ 
    text-align: center;
}

.sidebarcontent {
    color: white;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.sidebarcontent:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.2);
}