html {
    background: linear-gradient(270deg, #246deb, #002b75);
    background-size: 400% 400%;

    -webkit-animation: BackgroundAnimation 19s ease infinite;
    -moz-animation: BackgroundAnimation 19s ease infinite;
    animation: BackgroundAnimation 19s ease infinite;
}

@-webkit-keyframes BackgroundAnimation {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@-moz-keyframes BackgroundAnimation {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@keyframes BackgroundAnimation {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}



.main {
    margin-top: 10vh;
    margin-left: 25vw;
    border-radius: 5vh;
    width: 50vw;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5vh;
    color: white;
    background-color: rgb(41, 41, 41);
}